@use "./base.scss";

// put your custom CSS here!


// Увеличение hover preview
.popover {
  max-width: 1200px !important;
  width: 1300px !important;
}

.popover-content {
  max-height: 70vh;
  overflow-y: auto;
}